/* Main container */
.auth-card {
  width: 1440px;
  height: 1024px;
  background-color: #f5f4f4;
  display: flex;
}

/* Left side */
.auth-left {
  width: 50%;
  padding-left: 80px;
}

/* Headings */
.heading {
  width: 489px;
  height: 54px;
  margin-top: 93px;
}


.heading h1 {
  font: Rubik;
  font-weight: 700;
  font-size: 48px ;
  line-height: 54px;
}

.heading .sub1 {
  color: #132C4A;
  font: Rubik;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;

}
.heading .sub2 {
  color: #132C4A;
  font: Rubik;
  font-weight: 400;
  font-size: 16px;
  line-height: 100% ;
  letter-spacing: 0%;
}
  

/* Image section */
.img-section {
  margin-top: 400px;
  margin-left: 80px;
}

.img-section img {
  width: 600px;
  height: 383px;
}

/* Right side (form) */
.auth-right {
  width: 708px;
  height: 895px;
  margin-top: 81px;
  margin-right: 80px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

/* Form wrapper */
.form-content {
  width: 400px;
}
