/* Title */
.container{
  margin-left:2px;
} 

.password-title {
  margin-top: 40px;
  font-family: Rubik;
  font-weight: 600;
  font-size: 24px;
  line-height: 143%;
  letter-spacing: -0.36px;
  color: #0f172a;
}

/* Form wrapper */
.password-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Label */
.password-label {
  display: block;
  margin-left: 20px;
  margin-bottom: 6px;
  font-family: Rubik;
  font-size: 18px;
  color: #64748b;
}

/* Input wrapper */
.password-field {
  position: relative;
}

/* Input */
.password-input {
  width: 360px;
  height: 70px;
  padding: 0 16px;
  padding-right: 48px;
  border-radius: 8px;
  border: 1px solid #9dbdff;

  font-family: Rubik;
  font-size: 14px;
  color: #0f172a;
  outline: none;
}

.password-input::placeholder {
  color: #cbd5e1;
}

.auth_action{
  margin-top: 380px;
}

.password-input:focus {
  border-color: #003ddb;
}

/* Eye button */
.eye-btn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #003ddb;
}

/* Hint text */
.password-hint {
  margin-top: 6px;
  font-family: Rubik;
  font-size: 12px;
  color: #94a3b8;
}
