/* Title */
.container{
    margin-bottom: 510px;
}
.otp-title {
  margin-top: 40px;
  font-family: Rubik;
  font-weight: 600;
  font-size: 24px;
  line-height: 143%;
  letter-spacing: -0.36px;
  color: #0f172a;
}

/* Sub text */
.otp-subtext {
  margin-top: 60px;
  font-family: Rubik;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #8292A1;
  opacity: 80%;
}


/* OTP inputs wrapper */
.otp-inputs {
  display: flex;
  gap: 40px;
}

/* Single OTP box */
.otp-input {
  width: 65px;
  height: 65px;
  border-radius: 8px;
  border: 1px solid #9dbdff;
  text-align: center;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 600;
  color: #0f172a;
  outline: none;
}
.resend-otp {
  margin-top: 24px;
  font-family: Rubik;
  margin-left: 190px;
  font-size: 14px;
  font-weight: 400;
  color: #64748b;
}
.resend-otp span {
  font-weight: 600;
  color: #005cfb;
  cursor: pointer;
} 
.otp-input:focus {
  border-color: #003ddb;
}
